<suite name="E-commerce portal automation" verbose="1" thread-count="1">
    <test name="E-commerce portal signup">
        <classes>
            <class name="TestRunner.SignupTestRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal login">
        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="TestRunner.LoginTestRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal purchase items">
        <groups>
            <run>
                <include name="purchase_product"/>
            </run>
        </groups>
        <classes>
            <class name="TestRunner.PurchaseTestRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal Dashboard">
        <classes>
            <class name="TestRunner.DashboardTestRunner"/>
        </classes>
    </test>
</suite>